body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: grid;
  padding: 15px;
  background-color: rgb(190, 190, 190);
  border-radius: 15px;
  border: 1px black solid;
  width: 350px;
  height: 540px;
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
}
 .item{
  box-sizing: border-box;
  background-color: rgb(232, 232, 232);
  padding: 5px;
  height: auto;
  border-radius: 10px;
  margin: 2px;
}
.display{
  background-color: rgb(232, 232, 232);
  grid-column: 1 / -1;
  border: 0.8px black solid;
  height: 120px;
  color: black;
}

#reload{
  grid-column: 1 / 3;
}
#delete{
  grid-column: 3 / -1;
}


